.playlistEditorContainer {
  border: solid black 2px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlistEditorHeader {
  background-color: blue;
  width: 100%;
  height: 15%;
  text-align: center;
}

.playlistEditorBody {
  background-color: aqua;
  width: 100%;
  height: 70%;
  overflow: scroll;
}

.playlistEditorFooter {
  background-color: aquamarine;
  width: 100%;
  height: 15%;
}
