.playlistContainer {
    height: 80px;
    border-bottom: solid grey 2px;
    display: flex;
    justify-content: space-between;
   }
   
   .playlistImgContainer {
     height: 80px;
     width: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   .playlistImg {
       height: 60px;
       width: 60px;
   }
   
   .playlistDetailsContainer {
     height: 100%;
     flex-grow: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     overflow: hidden;
     padding-left: 10px;
   }
   
   .playlistTitle {
     font-size: 30px;
   }
   
   .playlistGenres {
    font-size: 20px;
   }
   
   
   
   