.searchResultsContainer {
  border: solid black 2px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchResultsHeader {
  background-color: blue;
  width: 100%;
  height: 20%;
}

.searchResultsBody {
  background-color: aqua;
  width: 100%;
  height: 60%;
}

.searchResultsFooter {
  background-color: aquamarine;
  width: 100%;
  height: 20%;
}
